---
layout: default
title: Companies using Scrapy
permalink: companies/
redirect_from:
  - support/
---

{% assign companies = site.data.companies.list %}
{% assign ranking = site.data.companies.pros.ranking %}
{% assign users = site.data.companies.users %}

<div class="container">

  <h1>Meet the Scrapy pros</h1>
  <p>The following companies offer support contracts and consultancy services for Scrapy, and can also develop bespoke crawlers to meet your needs:</p>

  <div class="companies-container">
    {% for r in ranking %}
      {% assign company = companies[r.company] %}
    <div class="company-longbox">
      <div class="logo-wrap">
        <a href="{{ company.url }}">
        <img src="../img/{{ company.logo }}" />
        </a>
      </div>
      {{ company.description | markdownify }}
    </div>
    {% endfor %}
  </div>

  <h1>Companies using Scrapy</h1>
  <p>Check who is using Scrapy to do business and make an impact on the world.
     <br />
     (<span class="highlight">Should you be on this list?</span>
     Fork <a href="https://github.com/scrapy/scrapy.org">this GitHub repo</a>,
     add yourself, and send a pull request!)</p>

  <div class="companies-container">
    {% for u in users %}
      {% assign company = companies[u] %}
    <div class="company-box">
      <a href="{{ company.homepage }}">
      <img src="../img/{{ company.logouser }}" />
      </a>
      <hr />
      <p>
      {{ company.usage | markdownify }}
    </div>
    {% endfor %}
  </div>
</div>

<div class='fourth-row'>
<div class="container">
  <div class="block-left">
    <p><span class="big-font">Want to be part of this list?</span></p>
    <p>Fork <a href="https://github.com/scrapy/scrapy.org">this GitHub repo</a>,
       add yourself, and send a pull request!</p>
  </div>

  <div class="block-right">

    <p><span class="big-font">Be a part of the Community</span></p>
    <p><a href="../community/">Join our channels and collaborate!</a></p>
  </div>
</div>
</div>
