---
layout: default
title: Download
permalink: download/
---
{% assign stable = site.data.scrapy.stable %}
{% assign oldstable = site.data.scrapy.oldstable %}
{% assign devel = site.data.scrapy.development %}

<div class="container">

<div class="first-row2">

	<div class="block-left">
		<h1>Get Scrapy</h1>
		<p>If you need help setting it up? Please check the <a href="http://docs.scrapy.org/en/{{ stable.rtd }}/intro/install.html">Scrapy installation guide</a> for the <a href="http://doc.scrapy.org/en/{{ stable.rtd }}/intro/install.html#pre-requisites">requirements</a> and info on how to install in several platforms (Linux, Windows, Mac OS X, etc).
		</p>
		{% include badges-bar.html %}
	</div>

	<div class="block-right">
		{% include download-button.html %}
		<div class="developer-branch">
			<i class="fa fa-code-fork"></i>
			<p>You can also download <br /><span class="highlight">the development branch</span></p>
			<a href="https://github.com/scrapy/scrapy/archive/{{ devel.version }}.tar.gz"><button>Tarball</button></a>
			<a href="https://github.com/scrapy/scrapy/archive/{{ devel.version }}.zip"><button>Zip</button></a>
		</div>
	</div>


</div>
	
</div>

<div class="third-row-down">
<div class="container">
	<div class="block-left">
		<a href="https://github.com/scrapy/scrapy/archive/{{ oldstable.version }}.zip">
		<h2 class="float">Looking for an old release? <br /> Download Scrapy {{ oldstable.version }}</h2>
		<i class="fa fa-archive fa-3x"></i>
		</a>
		<p>
			You can find even older releases on
			<a href="https://github.com/scrapy/scrapy/releases">GitHub</a>.
		</p>
	</div>

	<div class="block-right">
		<h2>Want to contribute <br /> to Scrapy?</h2>
		<p>
			Don't forget to check the
			<a href="http://docs.scrapy.org/en/{{ devel.rtd }}/contributing.html">Contributing Guidelines</a>
			and the <a href="http://docs.scrapy.org/en/{{ devel.rtd }}/">Development Documentation</a> online.
		</p>
	</div>
</div>
</div>

<div class='fourth-row'>
<div class="container">
	<div class="block-left">
		<a href="http://docs.scrapy.org/en/{{ stable.rtd }}/intro/overview.html">
		<h2 class="float"><span class="regular">First time using Scrapy?</span> <br /> Get Scrapy at a glance</h2>
	 	<i class="fa fa-file-text-o fa-3x"></i>
		</a>
		<p>You can also find very useful info at<br />
		<a href="http://docs.scrapy.org/en/{{ stable.rtd }}/intro/tutorial.html">
		<i class="fa fa-external-link"></i>
		<span class="big-font">The Scrapy Tutorial</span>
		</a>
		</p>
	</div>
	<div class="block-right">
		<a href="https://github.com/scrapy/scrapy">
		<h2 class="float"><span class="regular">Get the Source Code:</span> <br /> Scrapy on Github</h2>
	 	<i class="fa fa-github fa-3x"></i>
		</a>
		<p><span class="big-font">What's new:</span> <br /> Read the <a href="http://docs.scrapy.org/en/{{ stable.rtd }}/news.html">release notes</a> for latest changes.</p>
	</div>
</div>
</div>


