---
layout: default
title: Resources
permalink: resources/
---
{% assign articles = site.data.resources.articles %}
{% assign books = site.data.resources.books %}

<div class="container">

  <h1>Curated Resources</h1>

  <div class="resources-section">
    <h2>Articles and Blog posts</h2>
    <div class="resources">
      {% for article in articles %}
      <div class="resource">
        <div class="title">
          {% if article.url %}
            <a href="{{ article.url }}">{{ article.title }}</a>
          {% endif %}
          {% if article.parts %}
            {% for part in article.parts %}
              {% if forloop.first %}
                <a href="{{ part.url }}">{{ article.title }} [{{ part.title }}]</a>
              {% else %}
                -- <a href="{{ part.url }}">[{{ part.title }}]</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        <div class="resource-metadata">
          {% if article.author %}by <span class="author">{{ article.author }}</span>{% endif %}
          {% if article.date %}({{ article.date }}){% endif %}
        </div>

        <div class="comments">
          {% if article.comments %}{{ article.comments | markdownify }}{% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <h2>Books</h2>

    <div class="resources">
      {% for book in books %}
      <div class="resource">
        <div class="title">
          {% if book.url %}
            <a href="{{ book.url }}">{{ book.title }}</a>
          {% endif %}
        </div>

        <div class="resource-metadata">
          {% if book.author %}by <span class="author">{{ book.author }}</span>{% endif %}
          {% if book.date %}({{ book.publisher }}, {{ book.date }}){% endif %}
        </div>

        <div class="comments">
          {% if book.comments %}{{ book.comments | markdownify }}{% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
