{% extends "base.html" %}

{% block title %}Community{% endblock %}

{% block main-content %}

    <h2>Community Resources</h2>

    <p>Scrapy has a healthy and active community. Here is a list of the places
    where you can get help and stay notified of latests Scrapy news.</p>

    <h3>Mailing lists</h3>

    <p><a href="http://groups.google.com/group/scrapy-users">scrapy-users</a>:
    The main list for help and announcements</p>

    <form action="http://groups.google.com/group/scrapy-users/boxsubscribe">
    <p>Subscribe: <input type="text" size="15" name="email"/> <input
    type="submit" value="Go"/></p> </form>

    <p><a
    href="http://groups.google.com/group/scrapy-developers">scrapy-developers</a>:
    Where discussions about Scrapy development itself takes place</a> </p>

    <form action="http://groups.google.com/group/scrapy-developers/boxsubscribe">
    <p>Subscribe: <input type="text" size="15" name="email"/> <input type="submit" value="Go"/></p>
    </form>

    <h3>Stack Overflow</h3>

    <p>There is a healthy community providing Scrapy help on Stack
    Overflow, along with the core developers. The <a
        href="http://stackoverflow.com/questions/tagged/scrapy">scrapy tag</a>
    has around 300 questions. If Stack Overflow is your preference, <a
        href="http://stackoverflow.com/questions/ask">ask your question
        there</a>.</p>

    <h3>IRC</h3>

    <p> Join the <b>#scrapy</b> IRC channel at <b>Freenode</b> to chat with other Scrapy
    users &amp; developers.</p>
    <p>You can <a href="http://webchat.freenode.net/?channels=scrapy">join using
        the web browser</a> or any <a
        href="http://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients">IRC
        client</a>.</p>

    <h3>Blog</h3>

    <p>The official Scrapy blog is available at <a
        href="http://blog.scrapy.org">http://blog.scrapy.org</a></p>

    <h3>Twitter</h3>

    <p>Follow <a href="http://twitter.com/ScrapyProject">Scrapy on Twitter</a>
    to be notified of project progress, people using it, blog mentions, job
    offers, and other Scrapy news.</p>

    <h3>Code snippets</h3>

    <p>The <a href="http://snippets.scrapy.org/">Scrapy Snippets</a> site is
    used to share useful snippets of Scrapy code</p>

    <h3>Getting involved and contributing</h3>

    <p>If you want to get involved and contribute patches or help documeting, start by reading <a href="http://doc.scrapy.org/en/latest/contributing.html">Contributing to Scrapy</a>.</p>

{% endblock %}
