{% extends "base.html" %}

{% block title %}Companies using Scrapy{% endblock %}

{% block main-content %}

<h2>Companies using Scrapy</h2>

<p>Here is a list of companies and web sites using Scrapy, in no particular order</p>

<ul>
<li><a href="http://www.scrapinghub.com">Scrapinghub</a> provides a platform for running Scrapy spiders in the cloud (still in closed beta)</li>
<li><a href="http://mydeco.com">Mydeco</a> uses Scrapy to scrape more than 4000 furniture retailer sites daily</li>
<li><a href="http://insophia.com">Insophia</a> uses Scrapy for several scraping projects on-demand</li>
<li><a href="http://medialab.sciences-po.fr/">Médialab Sciences Po</a> in Paris is using Scrapy to develop a web mining tool for Social Sciences researchers (<a href="https://groups.google.com/d/topic/scrapy-users/ApfTGGokSKo/discussion">announcement here</a>)</li>
<li><a href="http://www.zaojiao100.com/">ZaoJiao100</a> - Daily for infants and young children crawling early education information</li>
<li><a href="http://www.data.gov.uk/">World Government Data</a> - UK government data aggregation site (<a href="http://twitter.com/bfirsh/status/8025368963">tweet</a>)</li>
<li><a href="http://catalystic.com/">Catalystic</a> - used to develop bespoke scraping projects</a></li>
<li><a href="http://www.nextweekvacations.com">NextWeekVacations</a> uses Scrapy to collect the data of their vacation rentals</li>
<li><a href="http://www.oposicionesaldia.com/">Oposicionesaldia</a> - uses Scrapy to collect data from jobs postings, scholarships and online free courses in Spain.</li>
<li><a href="http://www.iberstudios.com">Iberestudios</a> - uses Scrapy to collect data from masters degrees, doctorates and postgradute degrees in Spain. </li>
<li><a href="http://www.bitehunter.com">BiteHunter</a> - real time aggregator and search engine for dining</li>
<li><a href="http://www.digitdeals.com">Dig It Deals</a> - to scrape deals from many sites</li>
<li><a href="http://www.tryolabs.com/">Tryolabs</a> - for its <a href="http://www.usedaywatch.com/">usedaywatch.com</a> product, and for Python/Django consulting projects that require web scraping and data collection.</li>
<li><a href="http://www.marketmaters.com/">MarketMate RS</a> - to scrape job offers from many sites</li>
<li><a href="http://www.pricewiki.com/">Pricewiki.com</a> - using it to scrape various websites for cost of living information</li>
<li><a href="http://www.weotta.com/">Weotta</a> - used to crawl data for post-processing (<a href="http://twitter.com/japerk/status/79304855486865408">tweet</a>)</li>
<li><a href="http://dealshelve.com/">Dealshelve</a> uses Scrapy to scrape daily deals from many sites</li>
<li><a href="http://www.zinmoo.es/">Zinmoo</a> uses Scrapy to scrape thousands of real state properties a per day (<a href="http://blog.sophilabs.com/2011/02/introducing-zinmoo-spain-real-state-searcher/">blog post</a>)</li>
<li><a href="http://www.careerbuilder.com/">CareerBuilder.com</a> uses Scrapy to scrape job offers from certain sites</li>
<li><a href="http://grablab.org/">GrabLab</a> is Russian company which specializes in web scraping, data collection and web automation tasks.</li>
<li><a href="http://www.simplespot.it">SimpleSpot</a> uses Scrapy to build their geolocalized information service</li>
<li><a href="http://www.monetate.com">Monetate</a> uses Scrapy daily to collect catalog information from their clients</li>
<li><a href="http://www.clanslots.com">ClanSlots</a> uses Scrapy daily to collect levels and plugins for games they host</li>
<li><a href="http://www.alisverisrobotu.com/">Alışveriş Robotu</a> is a Turkish price comparison site that uses Scrapy to collect data from hundreds of retailers everyday</li>
<li><a href="http://thalasar.com/">Thalasar Ventures</a> uses Scrapy to <a href="http://thalasar.com/custom-application-development/scrapy-custom-development-and-support">build bespoke crawlers</a></li>
<li><a href="http://www.tothego.com/">ToTheGo</a> is an aggregator of ads related to homes, jobs and cars trading. They use Scrapy to scrape everyday announces from the biggest portals and organize them inside their database.</li>
<li><a href="http://jobmistral.com/">JobMistral</a> is an aggregator of jobs classified ads. The use Scrapy to scrape job ads hourly from many sites</li>
<li><a href="http://www.tuvalabs.com/">TuvaLabs</a> uses Scrapy to scrape RSS feeds of major newspapers from all over the world. They scrape the web to find the most interesting articles of significant news stories taking place around the world and transforming them into interactive math learning units.</li>
</ul>

<p>If you use Scrapy, we'd like to include you on the list. Send us an email to <a href="mailto:info@scrapinghub.com">info@scrapinghub.com</a>.</p>

{% endblock %}
