{% extends "base.html" %}

{% block title %}Documentation{% endblock %}

{% block main-content %}

    <h2>Documentation</h2>

    <h3>Current stable release (0.22)</h3>

    <ul>
    <li style="font-size: larger; font-weight: bold;"><a href="http://doc.scrapy.org/">Read Scrapy 0.22 documentation online</a></li>
    <li><a href="https://readthedocs.org/projects/scrapy/downloads/">Download Scrapy 0.22 documentation in other formats (PDF, epub, etc)</a></li>
    </ul>

    <h3>Development version</h3>

    <ul>
    <li><a href="http://doc.scrapy.org/en/latest/">Read Scrapy documentation online</a></li>
    <li><a href="https://readthedocs.org/projects/scrapy/downloads/">Download Scrapy documentation in other formats (PDF, epub, etc)</a></li>
    </ul>

    <h3>Previous releases</h3>

    <ul>
    <li><a href="http://readthedocs.org/projects/scrapy/">Online documentation for previous releases</a></p>
    </ul>

    <h3>Wiki, code snippets and other tutorials</h3>

    <ul>
        <li>The <a href="https://github.com/scrapy/scrapy/wiki">Scrapy wiki</a> contains a compilation of many community resources such as articles, blog posts, video &amp; text tutorials, slides and talks</li>
      <li><a href="http://snipplr.com/all/tags/scrapy/">Scrapy tag on Snipplr</a> contains many useful code snippets, classified by topic and scrapy version. You are encouraged to upload yours!</li>
    </ul>

    <h3>Getting help</h3>

    <p>Having trouble? We'd like to help!</p>

    <ul>
    <li>Check the <a href="http://doc.scrapy.org/en/latest/faq.html">FAQ</a> - it's got answers to common questions.</li>
    <li>Looking for specific information? Try the <a href="http://doc.scrapy.org/en/latest/genindex.html">Index</a> or the <a href="http://doc.scrapy.org/en/latest/py-modindex.html">Module Index</a>.</li>
    <li>Search for information in <a href="http://groups.google.com/group/scrapy-users/">the archives of the scrapy-users mailing list</a>, or <a href="http://groups.google.com/group/scrapy-users/">post a question</a>.</li>
    <li>Ask a question in the <a href="irc://irc.freenode.net/scrapy">#scrapy  IRC channel</a>.</li>
    <li>Report <a href="https://github.com/scrapy/scrapy/issues">Scrapy bugs in Github</a>.</li>
    </ul>

{% endblock %}
