<div class="big-button">
  <div class="box-title">Install the latest version of Scrapy</div>
  <div class="download-stripe">
    <p> <i class="fa fa-cloud-download "></i> Scrapy {{ stable.version }} </p>
  </div>
  <div class="install-code"><span class="prompt" onselectstart="return false"><i class="fa fa-dollar"></i></span> <span class="command">pip install scrapy</span></div>
  <div class="download-alternatives">
    <a href="https://pypi.org/project/Scrapy/"><button>PyPI</button></a>
    <a href="https://anaconda.org/conda-forge/scrapy"><button>Conda</button></a>
    <a href="https://docs.scrapy.org/en/latest/news.html"><button>Release Notes</button></a>
  </div>
</div>
