 <section class="announcement">
    <a href="https://www.extractsummit.io/?utm_campaign=EXS&utm_activity=BAN&utm_medium=REF&utm_source=SPY&utm_content=ExtrSummReg&utm_primary=EXS&utm_goal=SIN" target="_blank">
        <img alt="Web scraping webinar" src="../img/streaming-icon.svg">
        Web Data Extraction Summit - September 30th, 2021.
    </a>
    Join some of the greatest minds in web scraping to educate, inspire, and innovate.
    <a href="https://www.extractsummit.io/?utm_campaign=EXS&utm_activity=BAN&utm_medium=REF&utm_source=SPY&utm_content=ExtrSummReg&utm_primary=EXS&utm_goal=SIN" target="_blank">
        Register for free!
    </a>
</section>
