<div class="footer">
	<iframe src="http://ghbtns.com/github-btn.html?user=scrapy&repo=scrapy&type=watch&count=true"
	allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	<iframe src="http://ghbtns.com/github-btn.html?user=scrapy&repo=scrapy&type=fork&count=true"
	allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	<a class="twitter-follow-button"
	  href="https://twitter.com/ScrapyProject"
	  data-show-count="true"
	  data-show-screen-name="false"
	  data-lang="en">
	@ScrapyProject
	</a>
	<script type="text/javascript">
	window.twttr = (function (d, s, id) {
	  var t, js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src= "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);
	  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
	}(document, "script", "twitter-wjs"));
	</script>

 	<p>Maintained by <a href="http://scrapinghub.com">Scrapinghub</a> and <a href="http://github.com/scrapy/scrapy/graphs/contributors">many other contributors</a></p>
</div>
