<iframe src="http://ghbtns.com/github-btn.html?user=scrapy&repo=scrapy&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="25px"></iframe>
<iframe src="http://ghbtns.com/github-btn.html?user=scrapy&repo=scrapy&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="25px"></iframe>
<br>
<a href="https://twitter.com/ScrapyProject" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @ScrapyProject</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
