<div class="header">

<div class="container">

  <a href="{{ site.url }}" id="link-logo"><div class="logo"></div></a>



  {% unless page.layout == 'front' %}
    <input class="menu-toggle" id="menu-toggle" type="checkbox">
    <label class="menu-toggle-button" for="menu-toggle"><i class="fa fa-bars"></i></label>
    <ul class="navigation">
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.permalink == link.url %}
          {% assign current = 'current' %}
        {% endif %}

        <a class="{{ current }}" href="../{{ link.url }}" id="link-{{ link.text | downcase | replace: ' ', '-' }}">
          <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            {{ link.text }}
          </li>
        </a>
      {% endfor %}
      <a href="http://docs.scrapy.org/en/latest/faq.html" id="link-faq"><li>FAQ</li></a>
      <a href="https://github.com/scrapy/scrapy" id="link-github">
      <li><i class="fa fa-code-fork fa-lg"></i> <span class="github-text">Fork on Github</span></li>
      </a>
    </ul>
  {% endunless %}

</div>

</div>
