<div class="header">

<div class="container">

  <a href="{{ site.url }}"><div class="logo"></div></a>



  {% unless page.layout == 'front' %}
    <ul class="navigation" id="navigation">
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.permalink == link.url %}
          {% assign current = 'current' %}
        {% endif %}

        <a class="{{ current }}" href="../{{ link.url }}">
          <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            {{ link.text }}
          </li>
        </a>
      {% endfor %}
      <a href="http://doc.scrapy.org/en/latest/faq.html"><li>FAQ</li></a>
      <a href="https://github.com/scrapy/scrapy">
      <li><i class="fa fa-code-fork fa-lg"></i> <span class="github-text">Fork on Github</span></li>
      </a>
    </ul>
  {% endunless %}

</div>

</div>
