Source: scrapyorg
Section: misc
Priority: extra
Maintainer: Insophia Team <info@insophia.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://scrapy.org/

Package: scrapyorg
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-django (>= 1.2),
 python-django (< 1.4),
 apache2,
 libapache2-mod-wsgi
Description: scrapy.org website
 This package contains the scrapy.org website
