<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Scrapy | {% block title %}An open source web scraping framework for Python{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link href="{{ MEDIA_URL }}/style/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="shortcut icon" type="image/ico" href="{{ MEDIA_URL }}/images/favicon.ico" />
    {% block extrastyles %}{% endblock %}
    <!--[if IE 6]>
    <link href="/style/ie60.css" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->
    <!--[if IE 7]>
    <link href="/style/ie70.css" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->

    {% block extrascripts %}{% endblock %}
  </head>
  <body>
    <a href="https://github.com/scrapy/scrapy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div id="wrapper">
      {% include "header.html" %}
      <div id="body">
        <div id="content-wrapper">
          <div id="content">
            {% block main-content %}{% endblock %}
          </div>
        </div>
        <br class="clear"/>
      </div>
    </div>
    <div id="footer">
      <iframe src="http://ghbtns.com/github-btn.html?user=scrapy&repo=scrapy&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="25px"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=scrapy&repo=scrapy&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="25px"></iframe>
      <br>
      <a href="https://twitter.com/ScrapyProject" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @ScrapyProject</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-10231918-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>
