/* Scrapy.org style sheet *******************************/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body { 
  background: url('../images/main-bg.jpg') repeat-x left top;
  font-family: "Lucida Sans", Verdana, Helvetica, "Bitstream Vera Sans", sans-serif;
  font-size: small;
  color: #333;
  background-color: #fff;
}

a { color: #6e0909; text-decoration: none; border-bottom: 1px solid #d78888;}

a:hover { color: #f99800; border-bottom: 1px solid #f7b7b7; }

a img {
  border: none;
}

h1, h2 { color:#331f0a; }

h1 { margin: 0 0 .6em 0; }

h2 { font-size: 150%; margin: .6em 0; }

dt { margin-left: 12px; font-style: italic; }
dd { margin-left: 30px; }

blockquote { padding: 0px 15px; color:#5b1111; font-size: 125%; margin: 0;}

.clear { 
  clear: both; 
  height: 0;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

#header {
  padding-top: 42px;
  margin: 0 20px;
}

#body {
  padding-bottom: 35px;
}

#content-wrapper {
  width: 100%;
  float: left;
}

#content {
  margin: 0 20px 0 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  border-top: 1px solid #b5331a;
  background: url('../images/footer-bg.jpg') repeat-x left top #5b2a16;
}

#twitter {
  float: right;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

#logo {
  float: right;
  padding-right: 20px;
}

#logo h1 {
  float: left;
  margin: 0;
}

#logo h1 a {
  border: none;
}

#navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navigation li { float: left; padding: 0 10px; }
#navigation li.last { border-right: none; }
#navigation li a { text-decoration: none; border-bottom: 1px solid #ffca9b;  color:#e57919;}
#navigation li a:hover { color:#c35012; border-bottom: 1px solid #ef994c} 

#footer a:hover {
  color: #ffe114;
}

#footer p { 
  margin: 10px 20px; 
  line-height: 15px;
  font-size: .85em;
  color: #fff;
}

#footer p a {
  color: #fff;
}

#badge {
  float: right;
}

#badge a {
  border-bottom: none;
}

